* {
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
}

html,
body,
#root,
.App {
    height: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21222a;
    padding: 30px 25px;
    height: 90px;
}

.nav--name {
    margin-right: auto;
    color: #61dafb;
}

.nav--link {
    color: #61dafb;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #deebf8;
    font-weight: 600;
}

.nav--logo {
    max-width: 64px;
    margin-right: 14px;
}

.main-content {
    padding: 2em;
    background-color: #282d35;
    height: 100%;
    background-image: url(./images/react-icon-large.png);
    background-size: 30vh;
    background-position: right center;
    background-repeat: no-repeat;
}

.main-content--title {
    font-size: xxx-large;
    color: #ffffff;
    letter-spacing: -0.05em;
}

.main-content--list {
    color: #d2d3d4;
    margin-top: 1em;
}

.main-content--list li {
    padding-block: 10px;
}

.main-content--list li::marker {
    color: #61dafb;
    font-size: 24px;
}